:root {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  figure,
  dl,
  dd {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif; /* 可根据需求更换字体 */
    line-height: 1.5;
    color: #333; /* 默认字体颜色 */
    background-color: #fff; /* 默认背景颜色 */
  }
}
